{% extends 'base.html' %}
{% block content %}
<p></p>
{% for pet in pets %}
<a href="/pets/{{pet.id}}">
    
    <div class="profile">
        
        <div class="pic">
            <img src="static/images/avatar1.jpg" width="100%" alt="placeholder avatar">
        </div>
    
        <div class="info">
            <ul>
                <li> Name: {{ pet.name }} </li>
                <li> Type: {{ pet.type }} </li>
            </ul>
        </div>

    </div>
</a>    
{% endfor %}

<div class="addPetForm">
    <form action="/newpet" method="POST">
        <label for="name">Name: </label>
        <input type="text" id="petName" name="name" placeholder="Enter the patient's name" required>
        
        <label for="dob">DOB: </label>
        <input type="text" id="petDob" name="dob" placeholder="Enter the patient's DOB" required>
        
        <label for="type">Type: </label>
        <input type="text" id="petType" name="type" placeholder="Enter what type of animal the patient is" required>
        
        <label for="gender">Gender: </label>
        <input type="text" id="petGender" name="gender" placeholder="Enter the patient's gender" required>
        
        <label for="owners_name">Owner's Name: </label>
        <input type="text" id="petOwnersName" name="owners_name" placeholder="Enter the patient's owner's name" required>
        
        <label for="owners_phone">Owner's Phone: </label>
        <input type="text" id="petOwnersPhone" name="owners_phone" placeholder="Enter the patient's owner's phone number" required>
        
        <label for="treatment_notes">Treatment Notes: </label>
        <input type="text" id="petTreatmentNotes" name="treatment_notes" placeholder="Enter any notes here" required>

        <label for="vet">Vet: </label>
        <select id="vet" name="vet" required>
            {% for vet in vets %}
            <option value="{{vet.id}}">{{vet.name}}</option>
            {% endfor %}
        </select>

        <p><button type="submit">Submit</button></p>

    </form>
</div>

{% endblock %}