{% extends 'base.html' %}
{% block content %}

{% for vet in vets %}
<div class="vetProfile">
    <div class="vetPic">
        <img src="/static/images/avatar1.jpg" alt="placeholder avatar image" width="100%">
    </div>
    <div class="vetInfo">
        <ul>
            <li>Name: <a href="/vets">{{vet.name}}</a></li>
            <li>Employee Number: <a href="/vets">{{vet.id}}</a></li>
            <li>Patient List: <a href="/vets"> Click Here </a></li>
        </ul>
    </div>
    <div>
        <form class="deleteButton" action="/vets/{{vet.id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

{% endfor %}

<div class="newVetForm">
    <form action="/newvet" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="vetName" name="name" placeholder="Full name here" required>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}