{% extends 'base.html' %}

{% block content %}

{% for vet in vets %}
<a href="/vets/{{vet.id}}">
    
    <div class="vetProfile">
        
        <div class="vetPic">
            <img src="/static/images/avatar1.jpg" alt="placeholder avatar image" width="100%">
        </div>
        
        <div class="vetInfo">
            <ul>
                <li>Name: {{vet.name}} </li>
                <li>Employee Number: {{vet.id}}</li>
                <li>Length of service: <strong> N/A </strong></li>
                <li>Specialization: <strong> N/A </strong> </li>
            </ul>
        </div>
    
    
    </div>
</a>

{% endfor %}

<div class="newVetForm">
    <form action="/vets" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="vetName" name="name" placeholder="Full name here" required>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}