{% extends 'base.html' %}

{% block content %}

<div class="profile">
    <div class="pic">
        <img src="/static/images/{{vet.name}}.jpg" alt="picture of the vet" width="100%">
    </div>
    <div class="info">
        <ul>
            <li>Name: <a href="/vets/{{vet.id}}">{{vet.name}}</a></li>
            <li>Employee Number: {{vet.id}}</li>
            <li>Length of service: <strong> N/A </strong></li>
            <li>Specialization: <strong> N/A </strong> </li>
        </ul>
    </div>
    <div>
        <button><a href="/vets/{{vet.id}}/edit">Edit</a></button>
        
        <form class="deleteButton" action="/vets/{{vet.id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
        
    </div>
</div>



{% endblock %}