body{
    margin: auto;
    font-family:'Times New Roman', Times, serif;
}

nav li{
    list-style-type: none;
    display: inline;
}



.vetProfile{
    border: solid black thick;
    width: 15%;
    margin: 2.5%;
    display: inline-block;
}

.vetPic{
    border-radius: 25px;
    object-fit: contain;
}

.vetInfo{
    text-align: left;
    font-size: medium;
}

/* .newVetForm{

}  */

.petProfile{
    border: solid thick black;
    width: 15%;
    margin: 2.5%;
    display: inline-block;
}

.petPic{
    border-radius: 25px;
}

.petInfo{
    text-align: left;
    font-size: medium;
}

.petInfo li{
    list-style-type: none;
}

.addPetForm{
    width: 50%;
    margin: auto;
    border: black solid thick;
    display: block;
}

.addPetForm input[type=text] {
    display: block;
    width: 50%;
}