body{
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    background-color: seagreen;
    background-blend-mode: overlay;
    text-align: center;
}

h1{
    font-size: xx-large;
    color: white;                           
}

a {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    color: orange;
    text-decoration: none;
    border-bottom: solid 2px violet;
}


nav {
    background-color: seagreen;
    border-bottom: thick violet solid;
}

nav li{
    list-style-type: none;
    display: inline;
}

nav ul li a{
    margin: 6em;
}

#rabbitLogo{
    height: 2em;
    width: 2em;
}

#rabbitLogoReverse{
    height: 2em;
    width: 2em;
    transform: scaleX(-1);
}

.mainText{
    padding-left: 20%;
    padding-right: 20%;
    margin:auto;
    text-align: left;
    color: white;
}

section{
    display: inline-flex;
    background-image: url("/static/images/background6.png");
    background-position: center;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: thick violet solid;
}

.profile{
    border: solid violet thick;
    width: 15%;
    margin: 2.5%;
    display: inline-block;
    background-color: white;
    color: black;
}

.pic{
    border-radius: 25px;
    object-fit: contain;
}

img{
    height: 20em;
    
}

button a{
    color: black;
}

.info{
    text-align: left;
    font-size: medium;
}

.info li{
    list-style-type: none;
}

.info a{
    color: black;
}

/* form{
    display: block;
} */

.addPetForm{
    width: 20%;
    align-content: center;
    margin: auto;
    border: violet solid thick;
    display: inline-block;
    text-align: left;
    margin-bottom: 2em;
    color: orange;
    padding: 0 2em 0 2em;
}

.addPetForm input[type=text] {
    display: block;
    width: 100%;
}

.addPetForm button{
    margin-left: 40%;
    margin-right: 40%;
}

.editForm{
    width: 75%;
    display: block;
    text-align: left;
    margin-bottom: 2em;
    color: orange;
    padding: 0 2em 0 2em;
}

.editForm input[type=text] {
    display: block;
    width: 100%;
}

.editForm button{
    margin-left: 40%;
    margin-right: 40%;
}

footer{
    border-top: violet solid thick;
}

.socialMedia{
    width: 3em;
    height: 3em;
    padding-top: 2em;
    padding-right: 5em;
}

hr{
    background-color: violet;
}