<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/eb0267db5c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <h1> <img src="/static/images/rabbit.png" id="rabbitLogo" alt="rabbit logo" width="100%"> Hutchieson's Vet Practice <img src="/static/images/rabbit.png" id="rabbitLogoReverse" alt="rabbit logo" width="100%"></h1>
        <ul>
            <li><a class="anchor" href="/">Home</a></li>
            <li><a class="anchor" href="/vets">Vets</a></li>
            <li><a class="anchor" href="/pets">Pets</a></li>
        </ul>
    </nav>
    <section>

    </section>
    {% block content %}
    
    
    {% endblock %}

    <footer>
        <a href="/"><img src="/static/images/facebook.png" class="socialMedia" id="facebook logo" width="100%"></a>
        <a href="/"><img src="/static/images/instagram.png" class="socialMedia" id="instagram logo" width="100%"></a>
        <a href="/"><img src="/static/images/twitter.png" class="socialMedia" id="twitter logo" width="100%"></a>
    </footer>
</body>
</html>